<div class="main posts-index">
    <div class="container">
        <h3> タグリスト</h3>
        <% if @posts_tag.present?%>
        <%  @tag_list.each do |list|%>

        <%= link_to(list.tag_name, tag_posts_path(tag_id: list.id))%>
        <%="#{list.posts.count}"%>


        <% end %>
        <% end %>
        <% @posts.each do |post| %>
        <div class="posts-index-item">
            <div class="post-left">
                <img src="<%= "/user_images/#{post.user.image_name}" %>">
            </div>
            <div class="post-right">
                <div class="post-user-name">
                    <%= link_to(post.user.name, "/users/#{post.user.id}") %>
                </div>
                <%= link_to(post.content, "/posts/#{post.id}") %>
            </div>
            <p class="caption"><%= "#{post.comments.count} コメント" %></p>
        </div>

        <% end %>
        <%= paginate @posts %>
    </div>
</div>