<div class="main ">
    <div class="text-center">
        タグリスト
    </div>


    <%  @tag_list.each do |list|%>

    <%= link_to(list.tag_name, tag_posts_path(tag_id: list.id))%>
    <%="#{list.posts.count}"%>投稿
    <% end %>



    <div class="center-block">
        <% @posts.each do |post| %>
        <div class="card w-50 mx-auto">
            <div class="row">
                <div class="col">
                    <img src="<%= "/user_images/#{post.user.image_name}" %>" class="img-circle" width="50" height="50">
                </div>
                <div class="col d-flex align-items-center">
                    <%= link_to(post.user.name, "/users/#{post.user.id}") %>
                </div>
                <div>
                    <%= link_to(post.content, "/posts/#{post.id}") %>
                </div>
            </div>

            <p class="mx-auto"><%= "#{post.comments.count}コメント" %></p>

        </div>

        <%= paginate @posts %>

        <% end %>


    </div>

</div>