<div class="mx-auto" style="width: 1000px;">
    <%=form_with(model: @post, url: posts_path, local: true) do |f| %>
    <% @post.errors.full_messages.each do |message| %>
    <div class="form-error text-center">
        <%= message %>
    </div>
    <% end %>
    <h2 class="text-center">投稿する</h2>
    <h2>スペースを入力することで複数のタグを付けることができます。</h2>
    <h2>例：たこ焼き お好み焼き たらこ</h2>
    <div class="center-block">
        タグ入力欄<%= f.text_field :tag_name%>
    </div>
    <textarea name="content" class="form-control" id="exampleFormControlTextarea1"
        rows="3"><%= @post.content %></textarea>
    <%= f.file_field :image %>
    <button type="submit" class="btn btn-primary">投稿する</button>
    <% end %>
</div>