<div class="text-center posts-new ">
    <div class="formbody text-center ">
        <div class="form-signin">
            <%=form_with(model: @post, url: posts_path, local: true) do |f| %>

            <% @post.errors.full_messages.each do |message| %>
            <div class="form-error">
                <%= message %>
            </div>
            <% end %>
            投稿する


            <h2>スペースを入力することで複数のタグを付けることができます。</h2>
            <h2>例：たこ焼き お好み焼き たらこ</h2>
            <%= f.text_field :tag_name%>
            <textarea name="content" class="form-control" id="exampleFormControlTextarea1"
                rows="3"><%= @post.content %></textarea>

            <%= f.file_field :image %>

            <button type="submit" class="btn btn-primary">投稿する</button>


            <% end %>
        </div>
    </div>
</div>