<!DOCTYPE html>
<html>

<head>
  <title>EatProject</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

</head>

<body>

  <header class="blog-header py-3">
    <div class="col-4 text-center">
      <% if @current_user %>
      <%= link_to("eat_project", "/posts/index") %>
      <% else %>
      <%= link_to("eat_project", "/") %>
      <% end %>
    </div>
  </header>
  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <% if @current_user%>
      <a class="p-2 text-muted" href="#">
        <%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("記事検索", "/posts/search") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("投稿一覧", "/posts/index") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("新規投稿をする", "/posts/new") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("ユーザー一覧", "/users/index") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("ユーザー検索", "/users/search") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("ログアウト", "/logout", {method: "post"}) %>
      </a>
      <% unless @current_user.email == "guest@exapmle.com" then %>
      <a class="p-2 text-muted" href="#">
        <%= link_to("退会", "/users/#{@current_user.id}/destroy", {method: "post"}) %>
      </a>
      <%end%>
      <% else %>
      <a class="p-2 text-muted" href="#">
        <%= link_to("新規登録", "/signup") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("ログイン", "/login") %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("ゲストログイン", "/guest_session", {method: "post"}) %>
      </a>
      <a class="p-2 text-muted" href="#">
        <%= link_to("Googleでログイン", "/auth/google_oauth2", method: :post )%>
      </a>
      <% end %>
    </nav>
  </div>




  <% if flash[:notice] %>
  <div class="flash">
    <%= flash[:notice] %>
  </div>
  <% end %>

  <%= yield %>
</body>

</html>